@model TesteNET.Application.ViewModel.DashboardViewModel
<h2>Dashboard</h2>
<h3>Applications in client machines</h3>
<div class="row">
    <div class="col-lg-12 cell-align-left marginBottomRow">
        <div class="col-lg-3 cell-align-left noPaddingLeft">
            <table class="noPadding noMarginBottom" style="width: 100%;">
                <tbody class="noPadding noMarginBottom" style="width: 100%;">
                    <tr class="noPadding noMarginBottom">
                        <td class="noPadding noMarginBottom" style="width: 100%;">
                            <div class="input-group input-group-sm">
                                @Html.LabelFor(model => model.LimitTimeMinutes, new { @class = "input-group-addon", @id = "addonQttOnLineMachines" })
                                @Html.EditorFor(model => model.LimitTimeMinutes, new { htmlAttributes = new { @class = "form-control text-center", @tabindex = "1", }, aria_describedby = "addonQttOnLineMachines" })
                            </div>
                        </td>
                        <td class="noPadding noMarginBottom">
                            <div onclick="RefreshDashboard();" class="noPadding noMarginBottom" style="margin:0px; padding-left:10px;">
                                <span class="btn btn-sm btn-default glyphicon glyphicon-refresh" style="text-align:center; line-height:16px;" title="Refresh" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        @if (Model.LimitTimeMinutes != null)
        {
            <div class="col-lg-3 cell-align-left noPaddingLeft">
                <div class="input-group input-group-sm">
                    @Html.LabelFor(model => model.QttOnLineMachines, new { @class = "input-group-addon", @id = "addonQttOnLineMachines" })
                    @Html.EditorFor(model => model.QttOnLineMachines, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control text-center", @tabindex = "1", }, aria_describedby = "addonQttOnLineMachines" })
                </div>
            </div>
            <div class="col-lg-3 cell-align-left noPaddingLeft">
                <div class="input-group input-group-sm">
                    @Html.LabelFor(model => model.QttOnLineMachinesAlert, new { @class = "input-group-addon", @id = "addonQttOnLineMachinesAlert" })
                    @Html.EditorFor(model => model.QttOnLineMachinesAlert, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control text-center", @tabindex = "1", }, aria_describedby = "addonQttOnLineMachinesAlert" })
                </div>
            </div>
            <div class="col-lg-3 cell-align-left noPadding">
                <div class="input-group input-group-sm">
                    @Html.LabelFor(model => model.QttOfflineMachines, new { @class = "input-group-addon", @id = "addonQttOfflineMachines" })
                    @Html.EditorFor(model => model.QttOfflineMachines, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control text-center", @tabindex = "1", }, aria_describedby = "addonQttOfflineMachines" })
                </div>
            </div>
        }
    </div>
    @if (Model.LimitTimeMinutes != null)
    {
        <div class="col-lg-12 cell-align-left">
            <div class="col-lg-5 cell-align-left noPaddingLeft">
                <table class="table table-condensed table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" colspan="2" class="text-center">Top 10 machines longer time</th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center">Machine</th>
                            <th scope="col" class="text-center">Last comminication</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.Top10MachinesLongerTime)
                        {
                            <tr>
                                <td class="text-center">@item.MachineName</td>
                                <td class="text-center">@item.DateTimeUTC</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="col-lg-7 cell-align-left noPadding">
                <table class="table table-condensed table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" colspan="2" class="text-center">Top 10 application least occurrence</th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center">Applicatiion</th>
                            <th scope="col" class="text-center">Qtt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.Top10ApplicationLeastOccurrence)
                        {
                            <tr>
                                <td>@item.Application</td>
                                <td class="text-center">@item.QttOccours</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function RefreshDashboard() {
        debugger;
        location.href = '@Url.Action("Index", "Dashboard")' + '?limitTimeMinutes=' + $("#LimitTimeMinutes").val();
    }
</script>

